#root,.ant-layout{
    height: 100% ;
}
  .site-layout .site-layout-background {
    background: #fff;
  }
  .site-layout-background{
    margin: 16px 16px 0 16px;
    padding: 1px;
    min-Height: 280;
    overflow: auto;
  }
  .site-layout-background::-webkit-scrollbar{
    display: none;
  }
  .ant-descriptions-item-label,.ant-descriptions-item-content{
    font-size: 18px !important;
  }
  .ant-tag-red {
    font-size: 20px !important;
    padding: 5px 10px !important;
    margin-bottom: 5px !important;
  }
  .ant-tag-red span svg{
    width: 16px !important;
    height: 16px !important;
  }