.ant-table-filter-dropdown{
    width: 200px;
}
.ant-table-filter-dropdown ul li{
    font-size: 20px;
    height: 2.2em;
}
.ant-table-filter-dropdown ul li .ant-checkbox-inner{
    width: 20px;
    height: 20px;
}
.ant-table-filter-dropdown-btns{
    height: 45px;
}
.ant-table-filter-dropdown-btns button{
    height: 30px;
    width: 80px;
}
/* 修改message 的样式 */
.ant-message-custom-content {
    height: 1.6em;
}
.ant-message-custom-content span{
    font-size: 22px;
    line-height:1em;
}